<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        
        <property name="show_sql">true</property>
       
        <mapping class="com.skillsexchange.model.User"/>
        <mapping class="com.skillsexchange.model.Student"/>
        <mapping class="com.skillsexchange.model.Teacher"/>
        <mapping class="com.skillsexchange.model.Subject"/>
        
        <!-- <mapping resource="com/skillsexchange/model/user.hbm.xml"/>
        <mapping resource="com/skillsexchange/model/student.hbm.xml"/>
        <mapping resource="com/skillsexchange/model/teacher.hbm.xml"/>
        <mapping resource="com/skillsexchange/model/subject.hbm.xml"/> -->
    </session-factory>
</hibernate-configuration>